{% if template == 'product' %}
  {% assign current_collection = product.collections.first %}
  {% if current_collection %}
    <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
      <a href="/" title="Home">Home</a>
      <span aria-hidden="true">›</span>
      <a href="{{ current_collection.url }}" title="{{ current_collection.title }}">{{ current_collection.title }}</a>
      <span aria-hidden="true">›</span>
      <span>{{ product.title }}</span>
    </nav>
  {% endif %}
{% endif %}