main {
	padding-block-start: 21px;
}

@media screen and (min-width: 750px) {
	main {
		padding-block-start: 28px;
	}
}

.exhibition {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}

.exhibition > * {
	flex: 1;
	flex-basis: 240px;
}

.rte :where(h2, h3) {
	text-align: left !important;
	margin: 0;
}
