main {
	padding-block-start: 21px;
}

@media screen and (min-width: 750px) {
	main {
		padding-block-start: 28px;
	}
}
.exhibition {
  display: flex; 
  flex-wrap: wrap;
  gap: 1em;
}

.exhibition > * {
  flex: 1;
  flex-basis: 280px;
}